<h2>Fede-List</h2>
<div class="container">
<div id="listOfPersons">
<p *ngIf="fedeLista.length === 0">no hay datos</p>
<ul>
    <li *ngFor=" let personas of fedeLista; let i = index">
        {{personas.name }}-Type:{{personas.type}}
        <button (click)="deletePersonas(i)"> Delete persona</button>
    </li>
</ul>
</div>
<h3>Add persona</h3>

<input #personasName placeholder="Name" />
<input #personasType placeholder="Type" />
<button class="addPersona"(click)="addPersonas(personasName.value,personasType.value)">Add persona</button>

<h3>Add select</h3>

<input #personasNames placeholder="Name" />

<select #personasTypes>
    <option *ngFor="let type of tiposPersona" [value]="type">{{type}}</option>
</select>

<button class="addPersona"(click)="addPersonas(personasNames.value,personasTypes.value)">Add persona</button>
</div>